# Игнорировать все файлы в каталогах CFG и LOG
CFG/*
LOG/*
STATE/*

# Но не игнорировать сами каталоги (чтобы они оставались в репозитории)
# Закомментируйте, если не хотите, чтобы пустые каталоги были в Git
!CFG/.keep
!LOG/.keep
!STATE/.keep

# Игнорировать кэш Python
__pycache__/